.f-20px {
  font-size: 20px;
}

.f-25px {
  font-size: 25px;
}

p {
  margin: 0;
}

input {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.bg-gray {
  background-color: lightgrey;
}

.bookC {
  width: 80vh;
}

#bookContainer > div:nth-child(odd) {
  background-color: lightgray;
}

hr {
  height: 3px !important;
  width: 70% !important;
  color: black !important;
  opacity: 0.8 !important;
}

li + li {
  border-left: 3px solid black;
}

a:hover {
  color: blue !important;
}